<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/JCA_Theme.css">
		<title>JavaCrypt - About</title>
	</head>
	<style>
		body { background-color: black; color: white; text-align: center }
		div { font-family: Georgia, Times, 'Times New Roman', serif; }
		.form-control {  font-family: "Lucida Console", Monaco, monospace; font-size: 20px; background-color: #303030; color: #00ff00; padding: 0px; margin: 0px 0px 0px 0px; border: 0px; width: auto; }
		.upload-success { font-family: "Lucida Console", Monaco, monospace; color: green; };
		.form-group { margin-bottom: 0px; }
	</style>
	<body>
		<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">JavaCrypt</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Menu</a></li>
					<li><a href="/game">Game</a></li>
					<li><a href="/upload">Upload</a></li>
					<li><a href="/about">About</a></li>
				</ul>	
			</div>
		</nav>
		</br>
		</br>
		<div style="font-size: 36px">About JavaCrypt</div>
		</br>
		<div style="margin-left: 20%; margin-right: 20%; text-align: center; font-size: 24px">
			<p>JavaCrypt is a small game written in JavaScript. It utilizes a MongoDB server to store small text documents to represent possible levels to generate when the game is started. Users can submit their own levels. This application runs on the MEAN stack.</p>
			</br>
			<p>You can learn more about the author, Jonathan Piedra, at his homepage: <a href="http://jpiedra.github.io">jpiedra.github.io</a></p>
		</div>			
		</div>
	</body>
</html>