<!doctype html>
<html>
	<head>
		<title>JavaCrypt - Upload</title>
			<style>
				body { background-color: black; }
				p { color: white }
				input {  font-family: "Lucida Console", Monaco, monospace; background-color: #303030; color: #00ff00; padding: 0px; margin: 0px 0px 0px 0px; border: 0px; width: auto; }
			</style>
	</head>
	<body>
		<p>Upload a level for use in JavaCrypt, in .txt format file:</p>
		<br>
		
			<form>
			<input type="text" name="row1" maxlength="12"><br>
			<input type="text" name="row2" maxlength="12"><br>
			<input type="text" name="row3" maxlength="12"><br>
			<input type="text" name="row4" maxlength="12"><br>
			<input type="text" name="row5" maxlength="12"><br>
			<input type="text" name="row6" maxlength="12"><br>
			<input type="text" name="row7" maxlength="12"><br>
			<input type="text" name="row8" maxlength="12"><br>
			<input type="text" name="row9" maxlength="12"><br>
			<input type="text" name="row10" maxlength="12"><br>
			<input type="text" name="row11" maxlength="12"><br>
			<input type="text" name="row12" maxlength="12"><br>
			<input type="submit" value="Submit">
			</form>
			
	</body>
</html>