<!DOCTYPE>
<html ng-app="JCApp">
	<head>
		<title>JavaCrypt - Upload</title>
			<style>
				body { background-color: black; }
				div { color: white; text-align: center;  font-family: Georgia, Times, 'Times New Roman', serif; }
				p { color: white }
				input {  height: 20px; font-family: "Lucida Console", Monaco, monospace; background-color: #303030; color: #00ff00; padding: 0px; margin: 0px 0px 0px 0px; border: 0px; width: auto; }
				.upload-success { font-family: "Lucida Console", Monaco, monospace; color: green; };
			</style>
	</head>
	<body>
		<div ng-controller="AppCtrl">
			<h1>Upload a level for use in JavaCrypt</h1>
			<p>JavaCrypt levels follow a format of 12 rows containing 12 tiles (at 48 pixels height/width each).</p>
			<p>This regular format makes uploading levels to use in-game easy to do.</p>
			<h2>Instructions</h2>
			<p>The following characters will be processed as wall blocks: O, o</p>
			<p>The following character will be processed as empty, traversable space: -</p>
			<p>When you have entered 12 such characters for every row, the level plan is complete. </p>
			<p>You can press 'Submit Level' below to submit the plan.</p>
			<form class="upload-form">
				<input type="text" id="rA" class="row1" maxlength="12" ng-model="level.rA"><br>
				<input type="text" id="rB" class="row2" maxlength="12" ng-model="level.rB"><br>
				<input type="text" id="rC" class="row3" maxlength="12" ng-model="level.rC"><br>
				<input type="text" id="rD" class="row4" maxlength="12" ng-model="level.rD"><br>
				<input type="text" id="rE" class="row5" maxlength="12" ng-model="level.rE"><br>
				<input type="text" id="rF" class="row6" maxlength="12" ng-model="level.rF"><br>
				<input type="text" id="rG" class="row7" maxlength="12" ng-model="level.rG"><br>
				<input type="text" id="rH" class="row8" maxlength="12" ng-model="level.rH"><br>
				<input type="text" id="rI" class="row9" maxlength="12" ng-model="level.rI"><br>
				<input type="text" id="rJ" class="row10" maxlength="12" ng-model="level.rJ"><br>
				<input type="text" id="rK" class="row11" maxlength="12" ng-model="level.rK"><br>
				<input type="text" id="rL" class="row12" maxlength="12" ng-model="level.rL"><br>
				<button ng-click="addLevel()">Submit Level</button>
				
			</form>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script src="/public/controllers/controller.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		$(document).ready(function() {
			$('.row1').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row2').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row3').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row4').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row5').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row6').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row7').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row8').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row9').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row10').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row11').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
			$('.row12').keydown(function(key) {
				if (key.which == 79 || key.which == 189 || key.which == 9 || key.which == 16 || key.which == 8 || key.which || 46) {
					return true;
				} else key.preventDefault();
			});
		});
	</script>
	</body>
</html>